@define-color bg #282828;
@define-color text #EBDBA1;
@define-color tp rgba(40, 40, 40, 0);
@define-color bg2 #EBDBA1;
@define-color bg3 #99917f;
@define-color br1 rgba(235, 219, 161, 0.5);
/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "JetBrainsMono Nerd Font"; 
    border-radius: 0px;
    font-weight: bold;

}

window#waybar {
	border-radius:5px; 
    background-color: rgba(40,40,40,0.8);
    transition-property: background-color;
    transition-duration: .5s;
    border: 1px solid @br1;

}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
margin: 0px 0px;
    padding: 1px 5px;
    font-size: 14px;
    color: @text;
    /*background-color: @bg;*//*conf1*/ 
    background-color: @tp;
    border-radius: 5px;

}

#workspaces button {
    border: 0px;
    margin: 5px 3px;
    padding: 0px 5px;
    color: @text;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

#workspaces button.active {
    color: @bg;
    background-color: @bg2;
    border-radius: 5px;
}

#workspaces button:hover {
    color: @bg;
    background: @bg2;
    border-radius: 5px;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    font-size: 14px;
    color: @text;
    border-radius: 5px;
    padding: 5px 10px 5px 0;
    /*background-color: @bg;*/
    background-color: @tp;
}

#network.ethernet {
    color: @text;
}

#network.wifi {
    color: @text;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    font-size: 14px;
    color: @text;
    /*background-color: @bg;*/
    background-color: @tp;
    padding: 5px 10px;
    border-radius: 5px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    font-size: 14px;
    color: @text;
    border-radius: 5px;
    /*padding: 5px 10px;*/
    padding:5px;
    /*background-color: @bg;*/
    background-color: @tp;
}

#battery.charging,
#battery.plugged {
    color: @text;
}

@keyframes blink {
    to {
        background-color: @backgroundlight;
        color: @textcolor2;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    font-size: 14px;
    color: @text;
    border-radius: 5px;
    /*background-color: @bg;*/
    background-color: @tp;
    padding: 5px 0;
}

#pulseaudio.muted {
    color: @text;
}
